<footer>
    <section class="under">
  <h2>- get in touch with us -</h2>
  <p>
    Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
    sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
    vollisky inceptos mollisestor.
  </p>
  <section class="social-networks">
    <img src="../img/RSS.png" alt="" /><img src="../img/Facebook.png" alt="" /><img
      src="../img/Twitter.png"
      alt=""
    /><img src="../img/Dribbble.png" alt="" /><img
      src="../img/Pinterest.png"
      alt=""
    />
   
  </section>
  <p>Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90</p>
</section>  
</footer>
