<header>
  <nav class="top-menu">
    <ul >
        <li> <a href="">Home</a> </li>
        <li> <a href="">about us</a> </li>
        <li> <a href="">our journal</a> </li>
        <li> <a href="">projects</a> </li>
        <li> <a href="">news</a> </li>
        <li> <a href="">features</a> </li>
     <li> <a href="">contact</a> </li>
    </ul>
    <div>
    <button id="button-menu"></button><nav id="squized-menu"><ul><li><a href="">Home</a></li>
    <li><a href="">about us</a></li>
    <li><a href="">our journal</a></li>
    <li><a href="">projects</a></li>
    <li><a href="">news</a></li>
    <li><a href="">features</a></li>
    <li><a href="">contact</a></li></ul></nav></div>
  </nav>
  <img class="header-img" src="../img/intro-img 1.png" alt="">
</header>
