<main>
  <article class="recent-posts">
    <h2>-Our recents posts</h2>
    <section>
    <div class="container">
      <img src="../img/post-img 1.png" alt="" />
      <div class="text-container"> <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <h4>Photography, Journal / 9 Comments</h4>
        <p>
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
          sem lacinia quam venenatis vestibulum.
        </p></div>
    </div>
    <div class="container">
      <img src="../img/post4img 1.png" alt="" />
      <div class="text-container"> <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <h4>Photography, Journal / 9 Comments</h4>
        <p>
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
          sem lacinia quam venenatis vestibulum.
        </p></div>
    </div>
    </div>
    <div class="container">
      <img src="../img/post1img 1.png" alt="" />
      <div class="text-container"> <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <h4>Photography, Journal / 9 Comments</h4>
        <p>
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
          sem lacinia quam venenatis vestibulum.
        </p></div>
    </div>
    </div>
    <div class="container">
      <img src="../img/post6img 1.png" alt="" />
      <div class="text-container"> <h3>Aenean Adipiscing Etiam Vestibulum</h3>
        <h4>Photography, Journal / 9 Comments</h4>
        <p>
          Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
          sem lacinia quam venenatis vestibulum.
        </p></div>
    </div>
    </div>
  </section>
  </article>
  <aside class="instagram-shorts">
    <div>
    <h2>- Latest Instagram Shots</h2>
    <p>go to our instagram page -</p></div>
    <section>
      <img src="../img/post-1 1.png" alt="" /><img class="middle-img" src="../img/post-2 1.png" alt="" /><img class="middle-img" src="..//img/post-3 1.png" alt="" /><img class="last-img"
        src="../img/post-4 1.png"
        alt=""
      />
    </section>
  </aside>
</main>
