header{
    margin: auto;
}
.top-menu{
    margin-top: 30px;
    & > ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
  width: 100%;
    }
    display: flex;
    & a{
        color: $color1;
       
        text-transform: uppercase;
        text-decoration: none;
    
        font-size: 11px;
        letter-spacing: 1.1px;
        &:hover {
            color: rgba(87, 164, 164, 1);
        }
    }
    & button{
        background-image: url(../img/menu-button-1.png);
        background-position: center;
        width: 44px;
        height: 37px;
        background-color: black;
        }
 margin-bottom: 16px;
 & div{
    display: flex;
    width: 200px;
    position: relative;
    justify-content: flex-end;
      align-items: flex-end;
    & #squized-menu{
     display: none;
      position: absolute;
      top:23px;
      justify-content: flex-end;
      align-items: flex-end;
        & > ul{
            background-color:rgba(245, 245, 245, 1) ;
            list-style: none;
            display: flex;
          flex-direction: column;
          width: 182px;
          padding-left: 0;
         & li{
width: 100%;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 20px;
display: flex;
     align-items: flex-start;
     justify-content: flex-start;
          }
          & li:hover{
            background-color:rgba(78, 78, 78, 0.2) ;
          }
        }
         }

 }

}