@import 'variables';
@import 'mixins';
@import 'header';

body{
   margin: auto;
    text-align: center;
}

a, p, h2, h3, h4{
    font-family: $main-font-family ;
}
main{
   margin: auto;
}
.recent-posts{

margin: auto;
    width: 1170px;
display: flex;
flex-wrap:wrap ;
column-gap: 30px;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
& h2{
   text-transform: uppercase;
   font-size: 16px;
   color: rgba(78, 78, 78, 1);
  margin-top: 30px ;
  margin-bottom: 30px;
}
& section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
& .container{
    display: flex;
    width: 555px;
    & img {
        margin-right: 20px;
        width: 160px;
        margin-bottom: 43px;
    }
    & .text-container{
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    & h3{
        margin-top: 0;
font-size: 16px;
    }
    & h4{
        margin-top: 0;
        font-size: 12px;
        color: rgba(124, 124, 124, 1);

    }
    & p{
        margin-top: 0;
        text-align: start;
font-size: 14px;
color:rgba(92, 92, 92, 1) ;

    }
}
}
.instagram-shorts {
    padding-top: 15px;
    margin: auto;
background-size: cover;
 & div{
    margin: auto;
    display: flex;
    justify-content: space-between;
    & h2{
        font-size: 16px;
        color: rgba(78, 78, 78, 1);
        text-transform: uppercase;
    }
    & p {
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(78, 78, 78, 1);
}
}
& section{
    padding-top: 15px;
    display: flex;
justify-content: space-between;
   margin: auto;
& img{
    width: 240px;
    margin-bottom: 50px;
}}
}
footer{
    background:rgba(0, 0, 0, 1) ;
    background-size: cover;
    & .under{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        row-gap: 20px;
        flex-wrap: wrap;
        & p{
            color: rgba(185, 185, 185, 1) ;
            font-size: 16px;
            &:last-child{
                margin-bottom: 40px;
            }
        }
        & h2{
            margin-top: 40px;
            font-size: 16px;
            text-transform: uppercase;
           color: rgba(254, 254, 254, 1);
           margin-bottom: 0;

        }
        & .social-networks{
            & img{
                padding-right: 5px;
            }
        }
    } 
}
@media (max-width: 1200px) {
    header, .header-img, .recent-posts, .instagram-shorts section,.instagram-shorts div  {
      width: 768px;
    } 
    .instagram-shorts{
        background-color: rgba(0, 0, 0, 0.03);
    }
    .top-menu ul{
        padding-left: 100px;
        padding-right: 0px;
    }
    button{
        display: none;
    }
    .last-img{
        display: none;
    }
    .under{
        width: 684px;
    }
  }
  @media (min-width: 1201px) {
    header, .header-img, .recent-posts, .instagram-shorts section, .instagram-shorts div  {
      width: 1170px;
    }
    .top-menu ul{
        padding-left: 170px;
        padding-right: 100px ;
    }
    .under{
        width: 684px;
    }
    button{
        display: none;
    }
    .instagram-shorts{
        background-color: rgba(0, 0, 0, 0.03);
    }
  }
  @media (max-width: 768px) {
    header,.header-img, .recent-posts, .instagram-shorts section,.instagram-shorts div {
      width: 320px;
    }
    button{
        display: block;
    }
    .container{
        flex-wrap: wrap;
        flex-direction: column;
        & .text-container p{
            display: none;
        }
    }
    .middle-img{
        display: none;
    }
    .instagram-shorts p{
display: none;
    }
    .under{
        flex-wrap: wrap;
        width: 280px;
    }
    .top-menu{
        justify-content: flex-end;
    }
    .top-menu ul {
       display: none;
    }
    .instagram-shorts{
        background-color: white;
    }
  }